name: github pages

on:
  push:
    branches:
      - main
  pull_request:

env:
  # Update the language picker in theme/js/language-picker.js to link new languages.
  LANGUAGES: zh-TW

jobs:
  deploy:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup mdBook
        # https://github.com/jontze/action-mdbook
        uses: jontze/action-mdbook@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # mdbook-version: 'latest'
          mdbook-version: "0.4.48"
          use-mermaid: true
          mermaid-version: "0.15.0"
          use-linkcheck: true
          linkcheck-version: "0.7.7"

      - name: Install mdbook-mermaid
        run: mdbook-mermaid install

      - name: Install mdbook-i18n-helpers
        run: make prepare_i18n

      - name: Build
        # linkcheck causes ouput files to end up in html/, so move them to root
        run: |
          mdbook build
          mv book/html/* book/

      - name: Build all translations
        run: |
          for po_lang in ${{ env.LANGUAGES }}; do
            echo "::group::Building $po_lang translation"
            MDBOOK_BOOK__LANGUAGE=$po_lang \
            MDBOOK_OUTPUT__HTML__SITE_URL=/linuxboot-book/$po_lang/ \
            mdbook build -d book/$po_lang
            rsync -a book/$po_lang/html/ book/$po_lang/
            rm -r book/$po_lang/html/
            echo "::endgroup::"
          done

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
